<footer class="border-top border-dark" style="height: 10%;">
    <ul class="d-flex justify-content-center m-3" style="list-style: none;">
        <li class="m-2">Help</li>
        <li class="m-2">Status</li>
        <li class="m-2">About</li>
        <li class="m-2">Careers</li>
        <li class="m-2">Press</li>
        <li class="m-2">Blog</li>
        <li class="m-2">Privacy</li>
        <li class="m-2">Terms</li>
        <li class="m-2">Text to speech</li>
        <li class="m-2">Teams</li>
    </ul>
</footer>